<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/css/font-awesome.min.css")
    @Styles.Render("~/Content/styles.css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</head>
<body>

    <div class="main">
        <div class="header">
             @Html.Partial("_LoginPartial")
            <h2>@ViewBag.Title</h2>
        </div>
        @RenderBody()
    </div>

    <div class="container">&copy; @DateTime.Now.Year — приложение ASP.NET MVC</div>



</body>
</html>
