<div class="right-text colorLink">
    @if (Request.IsAuthenticated)
    {
        <text>
            Здравствуйте, 
            <a href="@Url.Action("Manage", "Account")" class="colorLink username" title = "Управление">@User.Identity.Name</a>!
                   
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="colorLink">Выйти</a>
            }
        </text>
    }
    else
    {
        <div>
            <a href="@Url.Action("Register", "Account")" class="colorLink" id = "registerLink">Регистрация</a>
         </div>
        
        <div>
            <a href="@Url.Action("Login", "Account")" class="colorLink" id = "loginLink">Выполнить вход</a>
        </div>       
    }

</div>
