@model Fitness.Models.group

@{
    ViewBag.Title = "Создать новую группу";
}


<!DOCTYPE html>

<html>
<head>
    <title>Создать новую группу</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.nameGroup)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.nameGroup)
                @Html.ValidationMessageFor(model => model.nameGroup)
            </div>

            <div class="editor-label">
                <p>Выберите тип и вид тренировки</p>
            </div>
            <div class="editor-field">
                <select name="idTraining" id="idTraining">
                    @foreach (int key in ViewBag.kinds.Keys)
                    {
                        <option value="@key">@ViewBag.kinds[key]</option>
                    }
                </select>
            </div>

            <p>
                <input type="submit" value="Создать" class="btn btn-success" />
            </p>
        </fieldset>
    }

    <hr />
    <div>
        <a href="@Url.Action("Index", "Trainer")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
    </div>
</body>
</html>
