@model Fitness.Models.group

@{
    ViewBag.Title = "Details Group";
}

<!DOCTYPE html>

<html>
<head>
    <title>Details Group</title>
</head>
<body>
    <fieldset>
        <div class="display-field">
            @Html.DisplayFor(model => model.nameGroup)
        </div>
        <table class="table table-striped table-hover" style="margin-top: 20px;">
            <tr>
                <th>@Html.DisplayNameFor(model => model.UserProfiles.First().fullName)</th>
                <th>Действия</th>
                @{
                    DateTime date = DateTime.Today.Subtract(new TimeSpan(4, 0, 0, 0));   
                }
                @for (int i = 0; i < 5; i++)
                {
                    <th>@(date.Day + "." + date.Month + "." + date.Year)</th>
                    date = date.AddDays(1);
                }
            </tr>
            @foreach (var user in Model.UserProfiles)
            {
                date = DateTime.Today.Subtract(new TimeSpan(4, 0, 0, 0));
                <tr>
                    <td>@user.fullName</td>
                    <td class="actions">
                        @*@Html.ActionLink("Изменить группу", "ChangeGroupToClient", new { id = user.UserId })*@
                        <a href="@Url.Action("ChangeGroupToClient", "Trainer", new { id = user.UserId })" title="Изменить группу клиенту"><i class="fa fa-pencil-square"></i></a>

                        @*@Html.ActionLink("Заморозить", "FreezeClient", new { id = user.UserId })*@
                        <a href="@Url.Action("FreezeClient", "Trainer", new { id = user.UserId })" title="Заморозить клиента"><i class="fa fa-thumbs-o-down"></i></a>

                        @*@Html.ActionLink("Отметить посещение", "MarkVisit", new { id = user.UserId, idGroup = Model.idGroup })*@
                        <a href="@Url.Action("MarkVisit", "Trainer", new { id = user.UserId, idGroup = Model.idGroup })" title="Отметить посещение"><i class="fa fa-check-square"></i></a>
                    </td>

                    @for (int i = 0; i < 5; i++)
                    {
                        <td>
                            @if (user.monitoringvisits.Where(visit => visit.dateOfVisit.Equals(date)).ToList().Count > 0)
                            {
                                <p>+</p>
                            }
                            else
                            {
                                <p>-</p>   
                            }
                        </td>
                            date = date.AddDays(1);
                    }
                </tr>
            }
        </table>

    </fieldset>

    <hr />
    <div>
        @*@Html.ActionLink("Вернуться назад", "Index")*@
        <a href="@Url.Action("Index", "Trainer")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
    </div>
</body>
</html>
