@model IEnumerable<Fitness.Models.group>

@{
    ViewBag.Title = "Главная страница (Тренер)";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная страница (Тренер)</title>
</head>
<body>
    <p>
        @*@Html.ActionLink("Create New Group", "Create")*@
        <a href="@Url.Action("Create", "Trainer")" title="Создать новую группу"><i class="fa fa-plus-square"></i> Создать новую группу</a>
    </p>
    <table  class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nameGroup)
            </th>
            <th>Действия</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nameGroup)
                </td>
                <td class="actions">
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.idGroup }) |*@
                    <a href="@Url.Action("Edit", "Trainer", new { id = item.idGroup })" title="Изменить название группы"><i class="fa fa-pencil-square"></i></a>

                    @*@Html.ActionLink("Details", "Details", new { id = item.idGroup }) |*@
                    <a href="@Url.Action("Details", "Trainer", new { id = item.idGroup })" title="Посмотреть подробнее"><i class="fa fa-bars"></i></a>

                    @*@Html.ActionLink("Delete", "Delete", new { id = item.idGroup })*@
                    <a href="@Url.Action("Delete", "Trainer", new { id = item.idGroup })" title="Удалить группу"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        }
    </table>

    <div>
        <p>
           @* @Html.ActionLink("List Frozen Client", "ListFrozenClient")*@
            <a href="@Url.Action("ListFrozenClient", "Trainer")" title="Список замороженных клиентов"><i class="fa fa-minus-square"></i> Список замороженных клиентов</a>
        </p>
    </div>

    <div>
        <p>
            @*@Html.ActionLink("Show Framed Subscription", "ShowFramedSubscription")*@
            <a href="@Url.Action("ShowFramedSubscription", "Trainer")" title="Список оформленных абонементов"><i class="fa fa-list-alt"></i> Список оформленных абонементов</a>
        </p>
    </div>
    
</body>
</html>
