@model Fitness.Models.subscription

@{
    ViewBag.Title = "Удалить абонемент";
}



<h3>Вы действительно хотите удалить абонемент?</h3>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.idSubscription)

    <div class="display-label txt-red">
        @Html.DisplayNameFor(model => model.duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.duration)
    </div>
    <br />
    
    <div class="display-label txt-red">
        @Html.DisplayNameFor(model => model.dateOfPurchase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateOfPurchase)
    </div>
    <br />
    
    <div class="display-label txt-red">
        @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>
    <br />
    
    <p>
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </p>     
}

<hr />
<div>
    @*@Html.ActionLink("Вернуться назад", "Index")*@
    <a href="@Url.Action("Index", "Client")" title="Вернуться назад"><i class="fa fa-arrow-left"></i>Вернуться назад</a>
</div>
