@model Fitness.Models.UserProfile

@{
    ViewBag.Title = "Изменить данные о себе";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Изменить данные о себе</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        <fieldset>
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.idGroup)
            @Html.HiddenFor(model => model.idSubscription)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.frozen)
             
            <div class="editor-label">
                @Html.LabelFor(model => model.fullName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.fullName)
                @Html.ValidationMessageFor(model => model.fullName)
            </div>    
            
            <div class="editor-label">
                @Html.LabelFor(model => model.email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.telephone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.telephone)
                @Html.ValidationMessageFor(model => model.telephone)
            </div>  
               
            <p>
                <input type="submit" value="Сохранить" class="btn btn-success"/>
            </p>
        </fieldset>
    }
    <hr />
    <div>
        @*@Html.ActionLink("Вернуться назад", "Index")*@
        <a href="@Url.Action("Index", "Client")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
    </div>
</body>
</html>
