@model Fitness.Models.subscription

@{
    ViewBag.Title = "Оплатить абонемент";
    int totalPrice = Model.duration * Model.trainingprogram.price;
}

<h2>PaySubscription</h2>
<p>Total price: @totalPrice</p>
@using (Html.BeginForm())
{
    <input type="hidden" name="id" value="@Model.idSubscription" />
    
    if (ViewBag.trainers != null)
    {
    <select name="idTrainer">
        @foreach (int key in ViewBag.trainers.Keys)
        {
            <option value="@key">@ViewBag.trainers[key]</option>
        }
    </select>
    }
    
    <p>
        <input type="submit" value="Оплатить" class="btn btn-success" />
    </p>
}

<hr />
<div>
    @*@Html.ActionLink("Вернуться назад", "Index", new { id = Model.UserProfiles.First().UserId })*@
    <a href="@Url.Action("Index", "Client", new { id = Model.UserProfiles.First().UserId })" title="Вернуться назад"><i class="fa fa-arrow-left"></i>Вернуться назад</a>
</div>

