@model Fitness.Models.UserProfile

@{
    ViewBag.Title = "Удалить пользователя";
}

<!DOCTYPE html>

<html>
<head>
    <title>Удалить пользователя</title>
</head>
<body>
    <h3>Вы действительно хотите удалить пользователя?</h3>
    <fieldset>
        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.fullName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.fullName)
        </div>
        <br/>

        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.dateOfBirth)
        </div>
        <br/>

        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.email)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.email)
        </div>
        <br/>

        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.telephone)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.telephone)
        </div>
        <br/>

        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.UserName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </div>
        <br/>

        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.idGroup)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.idGroup)
        </div>
        <br/>

        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.frozen)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.frozen)
        </div>
        <br/>

        <div class="display-label txt-red">
            @Html.DisplayNameFor(model => model.idSubscription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.idSubscription)
        </div>
        <br/>

        @using (Html.BeginForm())
        {
        <p>
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </p>
        }
    </fieldset>  

    <hr />    
    <div>
        @*@Html.ActionLink("Вернуться назад", "Index")*@
        <a href="@Url.Action("Index", "Admin")" title="Вернуться назад"><i class="fa fa-arrow-left"></i> Вернуться назад</a>
    </div>
        
</body>
</html>
